#Comment-BC-1 – Improve introduction

Comment:
- I believe that the draft positioning in the introduction could be 
improved.
For example, what I don't see in the introduction is what you wrote at 
https://datatracker.ietf.org/meeting/121/materials/slides-121-opsawg-a-yang-data-model-for-network-diagnosis-by-scheduling-sequences-of-oam-tests-00 
:

    This work aims to reuse existing work like [RFC8531], [RFC8532]
    and, [RFC8533], which defined YANG models for OAM technologies.


Added a paragraph in the intro

Moreover, this work aims to reuse and build upon existing YANG models for OAM technologies, such as those defined in {{?RFC8531}}, {{?RFC8532}}, and {{?RFC8533}}. By leveraging these foundational models, this document specifies a YANG data model for scheduling and coordinating sequences of OAM tests, enabling more advanced and automated network diagnosis procedures.
