#Comment-BC-4 – Review normative references

Comment:

Btw, 21 RFCs as normative references, are you sure that we actually need 
all of them as normative?
Following up on the numerous reference (both normative and informative), 
it's difficult to follow when you don't mention the RFC title. For example:

    This document assumes that the reader is familiar with the contents
    of [RFC7950], [RFC8345], [RFC8346] and [RFC8795].

- Coming back to your presentation positioning:

    This work aims to reuse existing work like [RFC8531], [RFC8532]
    and, [RFC8533], which defined YANG models for OAM technologies.


Reduce the RFCs and expanded the title of them:

* {{!RFC8531}} ("A YANG Data Model for MPLS-TP OAM"): defines a YANG data model for connection-oriented OAM protocols. The main aim of this document is to define a generic YANG data model that can be used to configure, control and monitor connection-oriented OAM protocols such as MPLS-TP OAM, PBB-TE OAM, and G.7713.1 OAM.
* {{!RFC8532}} ("A YANG Data Model for Connectionless OAM Protocols"): provides a generic YANG data model that can be used to configure, control and monitor connectionless OAM protocols such as BFD (Bidirectional Forwarding Detection), LBM (Loopback Messaging), and VCCV (Virtual Circuit Connectivity Verification).
* {{!RFC8533}} ("A YANG Data Model for BFD, LBM, and VCCV OAM Protocols"): provides a YANG data model that can be used to retrieve information related to OAM protocols such as Bidirectional Forwarding Detection (BFD), Loopback Messaging (LBM), and Virtual Circuit Connectivity Verification (VCCV).
* {{!RFC8913}} ("A YANG Data Model for Two-Way Active Measurement Protocol (TWAMP)"): specifies a YANG data model for client and server implementations of the Two-Way Active Measurement Protocol (TWAMP).