Missing feedback from Med

There are some areas to work before delivering:
+ States for the oam unitary test and sequence.
+ ITU-T references
+ Imports or schema mount for OAM modules injection

Regarding States for the oam unitary test and sequence, I think it is also related to "import or schema mount for OAM Modules injections", 
if we agree to choose to use schema mount,  OAM modules defined in RFC8531, RFC8532,RFC8533 can be reused, including state of OAM tasks to be perfomed.
If we choose to use import, we need to decide which portion of OAM models need to be imported, if we just import state of OAM models in RFC8531, RFC8532, RFC8533, not sure these portion of OAM parameters will be useful without context information.


I closed this topics as it was fixed in #28 