#Comment-BC-9 – Editorial format

Comment:

Editorial:
- there is a formatting issue with the + in this section

   [RFC8531], [RFC8532], [RFC8533] and [RFC8913] defined YANG models for
    OAM technologies: + [RFC8531] defines a YANG data model for
    connection-oriented OAM protocols.  The main aim of this document is
    to define a generic YANG data model that can be used to configure,
    control and monitor connection-oriented OAM protocols such as MPLS-TP
    OAM, PBB-TE OAM, and G.7713.1 OAM. + [RFC8532] provides a generic
    YANG data model that can be used to configure, control and monitor
    connectionless OAM protocols such as BFD (Bidirectional Forwarding
    Detection), LBM (Loopback Messaging) and VCCV (Virtual Circuit
    Connectivity Verification). + [RFC8533] provides a YANG data model
    that can be used to retrieve information related to OAM protocols
    such as Bidirectional Forwarding Detection (BFD), Loopback Messaging
    (LBM) and Virtual Circuit Connectivity Verification (VCCV). -
    [RFC8913] specifies a YANG data model for client and server
    implementations of the Two-Way Active Measurement Protocol (TWAMP).


Use * for all list items for consistent Markdown formatting.
Remove + and - markers from this section.