#Comment-BC-2 – Gaps in existing RFCs

Comment:
Btw, I assume that there are RFC853[1-3] implementations out there, right?
Also, what I don't quite easily understand when reading the introduction is:
     what is missing from those 3 RFCs?
     what does this draft add compared to those 3 RFCs?
The basic idea is that "This document covers how to use OAM for 
network-wide use cases.", as you wrote, while the 3 RFCs are at 
individual device level?
Or is it that it adds the scheduling of top of those RFCs?


Correct. This is the reason

We've added the following paragraph:

 This work aims to reuse and build upon existing YANG models for OAM technologies, such as those defined in {{?RFC8531}}, {{?RFC8532}}, and {{?RFC8533}}. By leveraging these foundational models, this document specifies a YANG data model for scheduling and coordinating sequences of OAM tests, enabling more advanced and automated network diagnosis procedures. 