#Comment-BC-5 – Import of OAM models

Comment:

   Are you actually reusing the work in those 3 RFCs? I am now confused 
when I see, in the YANG module

      // Import OAM models from RFCs RFC8531, RFC8532 and RFC8533

... but no related YANG import statement


We've talked about it and as we will use the schema mount, importing the models is not require as they will be reused in the mounting procress.